@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: "Inter", sans-serif;
    }
}

@layer components {
    input[type="checkbox"]:checked ~ label span svg {
        @apply inline-flex;
    }

    .sticky .header-logo {
        @apply py-5 lg:py-2;
    }

    .sticky .menu-scroll.active {
        @apply opacity-70;
    }

    input#togglePlan:checked ~ .dot {
        @apply translate-x-full;
    }

    input#checkboxLabel:checked ~ .box span {
        @apply opacity-100;
    }
}

.ip {
    width: 16em;
    height: 8em;
}
.ip__track {
    stroke: hsl(var(--hue), 90%, 90%);
    transition: stroke var(--trans-dur);
}
.ip__worm1,
.ip__worm2 {
    animation: worm1 2s linear infinite;
}
.ip__worm2 {
    animation-name: worm2;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    :root {
        --bg: hsl(var(--hue), 90%, 5%);
        --fg: hsl(var(--hue), 90%, 95%);
    }
    .ip__track {
        stroke: hsl(var(--hue), 90%, 15%);
    }
}

/* Animation */
@keyframes worm1 {
    from {
        stroke-dashoffset: 0;
    }
    50% {
        animation-timing-function: steps(1);
        stroke-dashoffset: -358;
    }
    50.01% {
        animation-timing-function: linear;
        stroke-dashoffset: 358;
    }
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes worm2 {
    from {
        stroke-dashoffset: 358;
    }
    50% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: -358;
    }
}
.output-container {
    /* Glowing shadow effect */
    box-shadow: 0 0 25px #007bff; /* Adjust the color to match your primary color */
}

.logos-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    overflow: hidden; /* Prevents icons from going outside the container */
}

.logo {
    width: auto;
    height: 40px;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
    animation: scroll 10s infinite linear; /* Adjust the duration as needed */
}

.logo:hover {
    filter: grayscale(0%);
}

.btn-shine {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 48px;
    color: #ffffff;
    background: linear-gradient(to right, #4d4d4d 0%, white 10%, #4d4d4d 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    white-space: nowrap;
}

@keyframes shine {
    0% {
        background-position: 0;
    }
    60% {
        background-position: 180px;
    }
    100% {
        background-position: 180px;
    }
}
